/* You can add global styles to this file, and also import other style files */
@import "../public/styles/abstracts/variable";
@import "../public/styles/base/typography";
@import "../public/styles/components/button";

body {
  margin: 0px;
  min-height: 100%;
  padding: 0px;
  background-color: #fff;
}

html {
  height: 100%;
}
